<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Processing</title>
		<style>
			body {
				background-color: #000;
				color: #fff;
				text-align: center;
			}
			.cover {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
                background-image: url("static/background2.svg");
			}

		</style>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<div class="h-screen w-screen cover"></div>
	</body>
</html>
