<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h2 class="text-white bg-red">Posture Detection</h2>
    <h2>Image</h2>
    <form action="/" method="POST">
        <input type="submit" value="stop" name="stop" id="capture">
    </form>
    <img id="frame" src="{{ url_for('capture') }}" alt="Image">
    <script src="{{ url_for('static', filename='capture.js') }}"></script>
</body>
</html>